---
layout: default
---
{% comment %}	{% if site.posts.size == 0 %}
			<h2>No post found =(</h2>
	{% else %}
		{% for post in site.posts  %}
			<article class="article post">
				<header class="header">
					<h1 class="title"><a href="{{ post.url }}" class="link">{{ post.title }}</a></h1>
				</header>
				<p class="text">
					{% if post.excerpt %}
						{{ post.excerpt }}
					{% endif %}
				</p>
				<footer class="footer">
					<time class="date">{{ post.date | date_to_string }}</time>
				</footer>
			</article>
		{% endfor %}
	{% endif %}{% endcomment %}