.main
	background $body-color
	padding-top 50px

	+below($desktop)
		padding 50px $space
		
	+above($desktop)
		lost-center 900px

.post-link
	padding $space
	border 2px solid darken(#fff, 8%)
	margin-bottom 30px
	transition border 0.6s

	&:hover
		border 2px solid $primary-color
	
	> .link
		text-decoration none
		color lighten(#000, 20%)

		> .title
			font-size rem(26px)
			color $primary-color
			
		> .description
			margin $space-sm 0	
			font-size rem(14px)
			
		> .date
			font-size rem(12px)
			color lighten(#000, 40%)
			float right
			margin-top 14px

		

.post-content
	
	> .header
		margin-bottom $space
		text-align center
		
	> .header > .date
		font-size rem(14px)
		text-transform uppercase
		
	> .header > .readingtime
		font-size rem(14px)
		
	> .header > .title
		color $primary-color
		font-size rem(40px)
		

	.content

		p
			font-size 16px
			line-height 2
			
		a
			color $primary-color
			text-decoration none
			border-bottom 1px dashed $primary-color	
			
		