
.post-link
	padding $space
	border 2px solid darken(#fff, 8%)
	margin-bottom 30px
	transition border 0.6s

	&:hover
		border 2px solid $primary-color
	
	> .link
		text-decoration none
		color lighten(#000, 20%)

		> .title
			font-size rem(26px)
			color $primary-color
			
		> .description
			margin $space-sm 0	
			font-size rem(14px)
			
		> .date
			font-size rem(12px)
			color lighten(#000, 40%)
		

.post-content
	
	> .header
		text-align center
		
	> .header > .date
		font-size rem(14px)
		text-transform uppercase
		
	> .header > .readingtime
		font-size rem(14px)
		
	> .header > .title
		color $primary-color
		
		+below($desktop)
			font-size rem(32px)

		+above($desktop)
			font-size rem(46px)
				

	.content
		margin-top $space-lg

		p
			line-height 1.8
			margin 0 0 $space-md 0
			
			+below($desktop)
				font-size 16px	
				
			+above($desktop)
				font-size 19px	
				
		h2
			line-height 2
			margin 0 0 $space 0		
			
		h3, h4
			line-height 1.5
			margin 40px 0 $space 0			

		h2
			+below($desktop)
				font-size rem(28px)
				
			+above($desktop)
				font-size rem(35px)
			
		h3
			color lighten($text-color, 40%)	
			
			+below($desktop)
				font-size rem(22px)	
				
			+above($desktop)	
				font-size rem(25px)	
							
		h4 
			color lighten($text-color, 40%)	
			
			+below($desktop)
				font-size rem(18px)		
				
			+above($desktop)
				font-size rem(20px)	
			
		img
			display block
			max-width 100%
			margin $space-lg auto
			
		a
			color $primary-color
			text-decoration none
			
			&:hover
				border-bottom 2px dashed $primary-color	
			
		ul
			margin 0 0 $space-md 0

		li
			padding $space-xs
			list-style inside
			
		