.author-info
	margin-top $space-sm
	width 140px
	width 100%
	text-align center

	> .avatar
		margin 0 auto
		width 130px
		height 130px
		border-radius 100%
		opacity .95
		
	> .title
		margin-top 5px
		font-size rem(22px)
		font-weight normal
		color darken($gray-dark,10%)

	> .description
		font-size rem(13px)
		text-align center
		color $gray-dark