.author-info
	float left
		
	+below($desktop)
		width 100%
		text-align center
		margin-top -20px
	
	> .avatar
		width 120px
		height 120px
		display block
		margin 0 auto
		border-radius 50%
		
		+above($desktop)
			display none
			
	> .link
		text-decoration none		
		
	> .link > .title
		font-size rem(16px)
		text-transform uppercase
		color #fff
		
		+above($desktop)
			margin-top 18px

	> .link > .description
		font-size rem(12px)
		text-transform uppercase
		font-weight bold
		color $primary-color

		+above($desktop)
			display block
			margin-top -2px
		