.brand
	font-size rem(16px)
	font-weight 700
	color $text-color
	font-size rem(26px)
	font-weight 300
	letter-spacing -0.05em
	text-transform lowercase
	opacity 0.8

	&:hover
		transition 0.2s
		opacity 1

	+below($desktop)
		margin-top 15px
		margin-bottom 5px
