.brand
	font-size rem(16px)
	font-weight 700
	color $text-color
	font-size rem(26px)
	font-weight 300
	letter-spacing -0.05em
	text-transform lowercase
	word-spacing 0.2em

	+below($desktop)
		margin-top 15px
		margin-bottom 5px
