.brand
	font-size rem(16px)
	font-weight 700
	color #fff
	font-size rem(26px)
	font-weight 300
	letter-spacing -0.05em
	text-transform lowercase

	&:hover
		transition 0.2s
		color $primary-color

	+below($desktop)
		margin-top 15px
		margin-bottom 5px
