.article-list
	
	> .item
		margin-bottom $space
		font-size rem(14px)

		+desktop()
			font-size rem(16px)
		
		&.-small
			margin-bottom $space-xs

		&:before
			content "♢ "
			font-weight 700
			color $primary-color

		> .name
			font-size rem(14px)
			
			+desktop()
				font-size rem(16px)
			
			strong
				color $primary-color
			
		> .function
			display block
			margin 5px 0
			font-size rem(14px)
			color $primary-color
			
			+desktop()
				font-size rem(16px)
			
		> .description
			margin-top 5px
			font-size rem(13px)	
			
			