.experience-list
	
	> .item
		margin-bottom 20px

		&:before
			content "• "
			color $primary-color

		> .name
			font-size rem(14px)
			
			strong
				color $primary-color
			
		> .function
			display block
			margin-top 5px
			font-size rem(13px)
			color $primary-color
			
		> .description
			margin-top 5px
			font-size rem(13px)	