// Social nav
// ==========================	
.social-nav
	text-align center
	margin-top 10px
	
	> .item
		display inline-block
	
	> .item > .link
		display inline-block
		padding $space-xs
		
		&:hover .icon
			fill darken($primary-color, 20%)
			
// Nav pages
// =========================		
.toggle
	position absolute
	right 14px
	top 15px	
	
.nav-bar
	position fixed
	padding $space
	right -100%
	top 0
	width 100%
	height 100%
	text-align center
	background $second-color
	opacity 0
	transition 0.8s
	
	&.-visible
		right 0
		opacity .98
		
	> .close
		// position absolute
		// right 14px
		// top 15px	
		display inline-block
		margin-left 90%
		margin-top -3px
		
	> .item
		margin-bottom 5px
		border-bottom 1px solid rgba(255,255,255,0.15)
		
	> .item > .link
		display inline-block
		padding $space-sm $space	
		width 100%
		
		
