.profile-wrapper
  +below($tablet)
    text-align center

  > .link
    > .name,
    > .profession
      font-weight 300

    > .avatar
      box-shadow 0 0 10px rgba(0, 0, 0, 0.2)
      opacity 0.8
      transform rotate(-90deg) 
      transition transform 0.3s ease-in-out
      width 70px

    > .name
      color #000
      font-size rem(38px)

    > .profession
      color $primary-color
      font-size rem(24px)

    +above($desktop)
      &:hover
        border none
        
        > .avatar
          transform rotate(0deg)

  > .info
    font-size rem(16px)
    font-weight 300
    margin $space-sm 0 0
