.social-nav
	float left
	width 100%
	background $primary-color
	
	> .list
		list-style none
		text-align center
		
	> .list > .item
		display inline-block
		
	> .list > .item > .link
		display inline-block
		padding $space-sm
		
