.tag-list
	margin-top 20px

	.link
		text-decoration none
		color lighten(#000, 30%)
		background none
		border 1px solid $primary-color
		padding $space-xs $space-sm
		border-radius 5px
		font-size rem(12px)
		transition 0.3s

		&:hover
			background $primary-color
			color #fff
