<header class="main-header">
  <div class="container">

    <div class="author-info">
    	<a class="link" href="../index.html">
	      <img class="avatar" src="/assets/images/profile.jpg" alt="{{ site.title }}">

	      <h1 class="title">{{ site.name }}</h1>
	      <h2 class="subtitle">{{ site.bio }}</h2>
      </a>
    </div>

		<nav class="main-nav">
			<ul class="list">
				{% for page in site.pages %}
					{% if page.title %}
					<li class="item"><a class="link" href="{{ page.url }}">{{ page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>	

  </div>
</header>