<header class="site-header">
	<div class="header-inner">

		<div class="nav-overlay">

		</div>
		<a class="nav-toggle">
			<svg class="icon">
				<use xlink:href="/assets/images/icons.svg#icon-menu"></use>
			</svg>
		</a>
		<nav class="main-nav">
			<a class="nav-close">
				<svg class="icon">
					<use xlink:href="/assets/images/icons.svg#icon-close"></use>
				</svg>
			</a>
			<ul class="list">
				{% for link in site.links %}
					<li class="item"><a href="{{ link.url }}" class="link">{{link.title}}</a></li>
				{% endfor %}
				<li class="item"><a href="" class="link">Resume</a></li>
			</ul>
		</nav>

		<a href="/" class="brand" role="logo">Lucas Stoque</a>

		<ul class="social-list">
			<li class="item">
				<a class="link" href="http://github.com/stoque" title="Meu Github">
					<svg class="icon">
						<use xlink:href="/assets/images/icons.svg#icon-github"></use>
					</svg>
				</a>
			</li>
			<li class="item">
				<a class="link" href="http://codepen.io/stoque" title="Meu CodePen">
					<svg class="icon">
						<use xlink:href="/assets/images/icons.svg#icon-codepen"></use>
					</svg>
				</a>
			</li>
			<li class="item">
				<a class="link" href="https://www.linkedin.com/in/lucas-stoque-lima-46bbba108" title="Meu Linkedin">
					<svg class="icon">
						<use xlink:href="/assets/images/icons.svg#icon-linkedin"></use>
					</svg>
				</a>
			</li>
			<li class="item">
				<a class="link" href="/feed.xml" title="Meu Feed">
					<svg class="icon">
						<use xlink:href="/assets/images/icons.svg#icon-rss"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</header>
