.main-footer
	padding 20px
	text-align center
	font-size rem(14px)

	.icon
		fill #e74c3c
		width 14px
		height 14px
		margin 0 2px
		animation pulse .3s infinite alternate


@keyframes pulse
	0%
		transform scale(0.9)

	100%
		transform scale(1.3)
