.site-header
	background lighten(#000, 10%)
	width 100%

	+above($desktop)
		display flex
		align-items center
		justify-content center
		height rem(70px)
		position fixed
		top 0

.header-inner
	padding $space-sm
	display flex
	align-items center
	text-align center
	position relative

	+below($desktop)
		flex-direction column
		justify-content space-between

	+above($desktop)
		width 95%
		justify-content space-between
