.home
  align-items flex-start
  display flex
  flex-direction: column
  justify-content: center
  text-transform lowercase

  +above($tablet)
    padding 100px
    height 94vh

  +below($tablet)
    align-items center
    margin: 100px 0 0
    