{% comment %}{% include head.html %}
<body>
	{% include header.html %}

	<main class="container">
		{{ content }}
	</main>
</body>
</html>{% endcomment %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/assets/images/favicon.png"/>
	<title>Lucas Stoque - Desenvolvedor Front</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="/assets/styles/main.min.css">
</head>
<body>
	<a name="top"></a>
	<header class="main-header">
		<section class="author-info">
			<img class="avatar" src="assets/images/avatar.jpg" alt="Lucas Stoque">
			<h1 class="title">Lucas Stoque</h1>
			<p class="description">
				Brasileiro, Solteiro, 22 anos <br>
				Higienópolis – Rio de Janeiro – RJ <br>					
				(21) 99171-0319  | <a href="#">stoque@live.com</a>
			</p>
		</section>
		
		<ul class="social-nav">
			<li class="item">
				<a class="link" href="http://github.com/stoque">
					<svg class="icon">
						<use xlink:href="/assets/images/icons.svg#icon-github"></use>
					</svg>
				</a>
			</li>	
			<li class="item">
				<a class="link" href="http://github.com/stoque">
					<svg class="icon">
						<use xlink:href="/assets/images/icons.svg#icon-linkedin"></use>
					</svg>
				</a>
			</li>	
		</ul>

	</header>

	<main>
		<section>

			<!-- Objetivo -->
			<article class="article-content">
				<h2 class="subtitle">Objetivo</h2>
				<p class="text">
					Atuar no setor de desenvolvimento web, especificamente na área de front-end.
				</p>
			</article>

			<!-- Formação -->
			<article class="article-content">
				<h2 class="subtitle">Formação</h2>
				<p class="text">
					Técnico em Informática - Colégio Luso Carioca - 2011.
				</p>
			</article>

			<!-- Experiencia Profissional -->
			<article class="article-content">
				<h2 class="subtitle">Experiência Profissional</h2>	
				<ul class="article-list">
					<li class="item">
						<span class="name">OUT/2012 - <strong>LLE FERRAGENS LTDA</strong></span> <br>
						<span class="function">Técnico de Suporte</span>

						<p class="text">
							Desenvolvimento do front-end e manutenção do novo e-commerce da empresa utilizando código modular e boas pŕáticas; Desenvolvimento do front-end de sistemas internos; Criação de relatórios em SQL para banco de dados Oracle; Responsável por suporte de sistema mobile de vendas para usuários externos.
						</p>
					</li>
					<li class="item">
						<span class="name">JAN/2012 - SET/2012 - <strong>CVFI</strong></span> <br>
						<span class="function">Técnico de Informática</span>

						<p class="text">
 							Suporte ao usuário de empresas externas; Montagem e manutenção de computadores em campo; Instalação e manutenção de redes; Desenvolvimento do site institucional da empresa.
						</p>
					</li>
				</ul>
			</article>

			<!-- Cursos -->
			<article class="article-content">
				<h2 class="subtitle">Cursos</h2>	
				<ul class="article-list">
					<li class="item -small">
						<span class="name"><strong>Scrum</strong> - (Alura/Caelum, 2016)</span>
					</li>
					<li class="item -small">
						<span class="name"><strong>HTML e CSS I e II</strong> - (Alura/Caelum, 2015)</span>
					</li>
					<li class="item -small">
						<span class="name"><strong>Javascript</strong> - (Alura/Caelum, 2015)</span>
					</li>
					<li class="item -small">
						<span class="name"><strong>Web Design Responsivo</strong> - (Alura/Caelum, 2015)</span>
					</li>
					<li class="item -small">
						<span class="name"><strong>Sass e Compass</strong> - (Alura/Caelum, 2015)</span>
					</li>
					<li class="item -small">
						<span class="name"><strong>Web Design </strong> - (Colégio  Luso Carioca, 2011)</span>
					</li>
				</ul>
			</article>

			<!-- Idiomas -->
			<article class="article-content">
				<h2 class="subtitle">Idiomas</h2>	
				<p class="text"><strong>Inglês</strong> - Intemediário</p>
			</article>

			<!-- Conhecimentos -->
			<article class="article-content">
				<h2 class="subtitle">Conhecimentos</h2>	
				<ul class="article-list">
					<li class="item -small">HTML</li>
					<li class="item -small">CSS</li>
					<li class="item -small">Javascript</li>
					<li class="item -small">Responsive Web Design (Mobile First)</li>
					<li class="item -small">Git</li>
					<li class="item -small">Gulp</li>
					<li class="item -small">Npm</li>
					<li class="item -small">Stylus/Sass/Less</li>
					<li class="item -small">Linux</li>
					<li class="item -small">Dentre outras técnologias web...</li>
				</ul>
			</article>

			<a class="top-button" href="#top">
				<svg class="icon">
					<use xlink:href="assets/images/icons.svg#icon-circle-up">
				</svg>
			</a>

		</section>
	</main>

<script src="/assets/scripts/main.js"></script>
</body>
</html>