{% comment %}{% include head.html %}
<body>
	{% include header.html %}

	<main class="container">
		{{ content }}
	</main>
</body>
</html>{% endcomment %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lucas Stoque - Desenvolvedor Front</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/styles/main.min.css">
</head>
<body>
	<header class="main-header">

		<nav class="main-nav">
			<a class="toggle" href="#">
				<svg class="icon -white">
					<use xlink:href="/assets/images/icons.svg#icon-menu"></use>
				</svg>
			</a>

			<ul class="nav-bar">
				<a class="close">
					<svg class="icon -white">
						<use xlink:href="/assets/images/icons.svg#icon-close"></use>
					</svg>
				</a>
				<li class="item"><a href="" class="link">About</a></li>
				<li class="item"><a href="" class="link">Blog</a></li>
				<li class="item"><a href="" class="link">Github</a></li>
				<li class="item"><a href="" class="link">Twitter</a></li>
				<li class="item"><a href="" class="link">Feed</a></li>
			</ul>
		</nav>		

		<ul class="social-nav">
			<li class="item">
				<a class="link" href="http://twitter.com/ostoque">
					<svg class="icon">
						<use xlink:href="/assets/images/icons.svg#icon-twitter"></use>
					</svg>
				</a>
			</li>
			<li class="item">
				<a class="link" href="http://github.com/stoque">
					<svg class="icon">
						<use xlink:href="/assets/images/icons.svg#icon-github"></use>
					</svg>
				</a>
			</li>				
		</ul>		

		<div class="author-info">
			<a class="link" href="../index.html">
				<img class="avatar" src="assets/images/avatar.jpg" alt="Lucas Stoque">
				<h1 class="title">Lucas Stoque</h1>
				<span class="subtitle">Front-End Developer</span>
			</a>
		</div>

	</header>

<script src="/assets/scripts/main.js"></script>
</body>
</html>